<h1>New Event</h1>
<%= form_tag  "/events" do |f| %>
<p>
  <%= label_tag :host %><br>
  <%= text_field_tag :host %>
</p>
<p>
  <%= label_tag :title %><br>
  <%= text_field_tag :title %>
</p>
<p>
  <%= label_tag :subtitle %><br>
  <%= text_field_tag :subtitle %>
</p>
<p>
  <%= label_tag :venue %><br>
  <%= text_field_tag :venue %>
</p>
<p>
  <%= label_tag :address %><br>
  <%= text_field_tag :address %>
</p>
<p>
  <%= label_tag :city %><br>
  <%= text_field_tag :city %>
</p>
<p>
  <%= label_tag :state %><br>
  <%= text_field_tag :state %>
</p>
<p>
  <%= label_tag :country %><br>
  <%= text_field_tag :country %>
</p>
<p>
  <%= label_tag :postcode %><br>
  <%= text_field_tag :postcode %>
</p>
<p>
  <%= label_tag :longitude %><br>
  <%= text_field_tag :longitude %>
</p>
<p>
  <%= label_tag :latitude %><br>
  <%= text_field_tag :latitude %>
</p>
<p>
  <%= label_tag :dateTime %><br>
  <%= text_field_tag :dateTime %>
</p>
<p>
  <%= label_tag :dressing %><br>
  <%= text_field_tag :dressing %>
</p>
<p>
  <%= label_tag :notes %><br>
  <%= text_field_tag :notes %>
</p>
<p>
  <%= label_tag :privacy %><br>
  <%= text_field_tag :privacy %>
</p>
<p>
  <%= label_tag :image %><br>
  <%= text_field_tag :image %>
</p>
<p>
  <%= submit_tag "Save Event" %>
</p>
<%end%>
